crazygames{
    color: red;
}
best website for playing online games{
    color: blue;
}
play in any device like ANDROID/IOS{
    color:blue;
}
features{
    color: blue;
}
also play in pc{
    color: blue;
}
you can play with your friends multiplayer{
color: blue;
}
all games are free {
    color: blue;
}
click the below purple link{
    color: blue;
}